<!DOCTYPE HTML>
<html>
	<head>
		<title>Book Reader App</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="static/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="static/assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">
		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<div class="inner">

							<!-- Logo -->
								<a href="index" class="logo">
									<span class="symbol"><img src="static/images/bookstack.png" alt="" /></span><span class="title">Book Reader App</span>
								</a>

							<!-- Nav -->
								<nav>
									<ul>
										<li><a href="#menu">Menu</a></li>
									</ul>
								</nav>

						</div>
					</header>

				<!-- Menu -->
					<nav id="menu">
						<h2>Menu</h2>
						<ul>
							<li><a href="index">Home</a></li>
							<li><a href="library">Library</a></li>
							<li><a href="Reviews">Reviews</a></li>
						</ul>
					</nav>

				<!-- Main -->
					<div id="main">
						<div class="inner">
							<header>
								<h1>A spot for the bookish mind. Where Literature is kept. <br />
								Comics, novels, graphic novels, educational material and more.</h1>
								<i><p>"We can't force the world to be what it should be. It has to happen naturally. Not through acts of terror, but by example. That's what heroes do." <br> - <b>Kevin Grevioux</b></p></i>
							</header>
							<div class="favs">
										<h3><i>Personal Favorites: </i></h3>
									</div>
							<section class="tiles">
								<article class="style1">
									<span class="image">
										<img src="static/images/absolutebatman_issue1.jpg" alt="" />
									</span>
									<a href="/">
										<h2>Absolute Batman</h2>
										<div class="content">
											<p>Written by Scott Snyder, this new take on Batman from his origins to the relationships with his friends from crime alley.</p>
										</div>
									</a>
								</article>
								<article class="style2">
									<span class="image">
										<img src="static/images/absolutebatmanvolume2.jpg" alt="" />
									</span>
									<a href="/">
										<h2>Absolute Batman - Vol.2</h2>
										<div class="content">
											<p>Written by Scott Snyder, with the introduction of Bane and Killer Croc, this story perfectly expands the new world of Gotham city and the vision of artist Nick Dragotta.</p>
										</div>
									</a>
								</article>
								<article class="style3">
									<span class="image">
										<img src="static/images/bardabook.jpg" alt="" />
									</span>
									<a href="/">
										<h2>Barda</h2>
										<div class="content">
											<p>Written by Ngozi Ukazu, this story reveals a softer side of Barda where she meets Scott Free. We get an insight into her origins, life on Apokolips and her relationship with the furies.</p>
										</div>
									</a>
								</article>
								<article class="style4">
									<span class="image">
										<img src="static/images/thenewgodsvol1_Ram_V.jpg" alt="" />
									</span>
									<a href="/">
										<h2>The New Gods - Vol.1</h2>
										<div class="content">
											<p>Written by Ram V with artwork by Evan Cagle, we get into the relationship of Barda and Scott Free caring for their daughter as Orion asks Scott to help him defy the wishes of Highfather and save a new God born in India.</p>
										</div>
									</a>
								</article>
								<article class="style5">
									<span class="image">
										<img src="static/images/the_new_gods_vol_2.jpg" alt="" />
									</span>
									<a href="/">
										<h2>The New Gods - Vol.2</h2>
										<div class="content">
											<p>Written by Ram V with artwork by Evan Cagle, this take on the New Gods connects to the Absolute Universe and the death of Darkseid in an epic journey through the fourth world to protect Kamaal. The newest addition. A New God.</p>
										</div>
									</a>
								</article>
								<article class="style6">
									<span class="image">
										<img src="static/images/mattfractionbatman.jpg" alt="" />
									</span>
									<a href="/">
										<h2>Batman 2025</h2>
										<div class="content">
											<p>Written By Matt Fraction, we explore Gotham City with new villains like the Ojo and the Minotaur. We are introduced to new and old characters like Anika Zeller, Hugo Strange the Penguin and more.</p>
										</div>
									</a>
								</article>
								<article class="style2">
									<span class="image">
										<img src="static/images/thebluemarvel.jpg" alt="" />
									</span>
									<a href="/">
										<h2>Adam: Legend of the Blue Marvel</h2>
										<div class="content">
											<p>Written by Kevin Grevioux, This story takes us through the Jim Crow era the many problems america would have with a black superhero. He must team up with the Avengers to defeat Anti-Man. </p>
										</div>
									</a>
								</article>
								<article class="style3">
									<span class="image">
										<img src="static/images/rookexodus.jpg" alt="" />
									</span>
									<a href="/">
										<h2>Rook: Exodus</h2>
										<div class="content">
											<p>Written by Geoff Johns and Jason Fabok, we are introduced to a dying planet that is surviving on a world engine. All of the animals are electronic and are used in a civil war between our main characters.</p>
										</div>
									</a>
								</article>
								<article class="style1">
									<span class="image">
										<img src="static/images/batwingvol1.png" alt="" />
									</span>
									<a href="/">
										<h2>Batwing</h2>
										<div class="content">
											<p>Written by Judd Winnick, an African based superhero named David Zavimbe is scouted by Bruce Wayne and arms him with the ability to protect the people and intrest of Africa.</p>
										</div>
									</a>
								</article>
								<article class="style5">
									<span class="image">
										<img src="static/images/Kinginblack.jpg" alt="" />
									</span>
									<a href="/">
										<h2>King In Black</h2>
										<div class="content">
											<p>Written by Donny Cates with artwork by Stegman, this is the conclusion of the Venom series where Eddie Brock with help from the Avengers defeat Knull in a battle to protect the Earth.</p>
										</div>
									</a>
								</article>
								<article class="style6">
									<span class="image">
										<img src="static/images/the_ultimates_vol_1.jpg" alt="" />
									</span>
									<a href="/">
										<h2>The Ultimates</h2>
										<div class="content">
											<p>Written by Deniz Camp, this is a new take on the villains from the marvel universe stemming from the King in Black run where The Maker, an evil Reed Richards from another dimension reigns supreme.</p>
										</div>
									</a>
								</article>
								<article class="style4">
									<span class="image">
										<img src="static/images/DAWNRUNNER.jpg" alt="" />
									</span>
									<a href="/">
										<h2>Dawn Runner</h2>
										<div class="content">
											<p>Written by Ram V with artwork by Evan Cagle, this story is about a cyberpunk themed world where people in massive machines battle for the fate of their world.</p>
										</div>
									</a>
								</article>
							</section>
							<div class="comic-publisher-container">
								<ul>
									<li>
										<img src="static/images/marvellogo.png" alt="">
									</li>
									<li>
										<img src="static/images/dclogo.png" alt="">
									</li>
									<li>
										<img src="static/images/imagelogo.png" alt="">
									</li>
								</ul>
							</div>
							<div class="quote">
								<i><p>"We can't force the world to be what it should be. It has to happen naturally. Not through acts of terror, but by example. That's what heroes do." <br> - <b>Kevin Grevioux</b></p></i>
							</div>
							<div class="pagination-section" style="margin-top: 40px;">
								<div style="text-align: center; margin-bottom: 20px;">
									<h3><i>Most Popular:</i></h3>
								</div>
								<section class="tiles">
									{% for image in page_obj %}
									<article class="{% cycle 'style1' 'style2' 'style3' 'style4' 'style5' 'style6' %}">
										<span class="image">
											<img src="{{ image.image }}" alt="Book {{ image.id }}" style="width: 100%; height: 500px;" />
										</span>
										<a href="#">
											<h2>{{ image.title }}</h2>
											<div class="content">
												<p>{{ image.description }}</p>
											</div>
										</a>
									</article>
									{% endfor %}
								</section>
								<div style="text-align: center; margin-top: 30px;">
									<style>
										.page-arrow { display: inline-block; padding: 10px 20px; margin: 0 20px; font-size: 28px; text-decoration: none; color: #333; cursor: pointer; }
										.page-arrow:hover { color: #007bff; }
										.page-arrow.disabled { color: #ccc; cursor: not-allowed; }
										.page-info { display: inline-block; margin: 0 20px; font-size: 18px; }
									</style>
									{% if page_obj.has_previous %}
										<a href="?page={{ page_obj.previous_page_number }}" class="page-arrow">&larr;</a>
									{% else %}
										<span class="page-arrow disabled">&larr;</span>
									{% endif %}
									<span class="page-info">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
									{% if page_obj.has_next %}
										<a href="?page={{ page_obj.next_page_number }}" class="page-arrow">&rarr;</a>
									{% else %}
										<span class="page-arrow disabled">&rarr;</span>
									{% endif %}
								</div>
							</div>
						</div>
					</div>
					

				<!-- Footer -->
					<footer id="footer">
						<div class="inner">
							<section>
								<h2>Get in touch</h2>
								<form method="post" action="#">
									<div class="fields">
										<div class="field half">
											<input type="text" name="name" id="name" placeholder="Name" />
										</div>
										<div class="field half">
											<input type="email" name="email" id="email" placeholder="Email" />
										</div>
										<div class="field">
											<textarea name="message" id="message" placeholder="Message"></textarea>
										</div>
									</div>
									<ul class="actions">
										<li><input type="submit" value="Send" class="primary" /></li>
									</ul>
								</form>
							</section>
							<section>
								<h2>Follow</h2>
								<ul class="icons">
									<li><a href="#" class="icon brands style2 fa-twitter"><span class="label">Twitter</span></a></li>
									<li><a href="#" class="icon brands style2 fa-facebook-f"><span class="label">Facebook</span></a></li>
									<li><a href="#" class="icon brands style2 fa-instagram"><span class="label">Instagram</span></a></li>
									<li><a href="#" class="icon brands style2 fa-dribbble"><span class="label">Dribbble</span></a></li>
									<li><a href="#" class="icon brands style2 fa-github"><span class="label">GitHub</span></a></li>
									<li><a href="#" class="icon brands style2 fa-500px"><span class="label">500px</span></a></li>
									<li><a href="#" class="icon solid style2 fa-phone"><span class="label">Phone</span></a></li>
									<li><a href="#" class="icon solid style2 fa-envelope"><span class="label">Email</span></a></li>
								</ul>
							</section>
							<ul class="copyright">
								<li>&copy; Untitled. All rights reserved</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
							</ul>
						</div>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="static/assets/js/jquery.min.js"></script>
			<script src="static/assets/js/browser.min.js"></script>
			<script src="static/assets/js/breakpoints.min.js"></script>
			<script src="static/assets/js/util.js"></script>
			<script src="static/assets/js/main.js"></script>

	</body>
</html>